[submodule "commonutilities"]
	path = commonutilities
	url = https://bitbucket.org/WegmannLab/commonutilities.git
	branch = master
[submodule "mcmcframework"]
	path = mcmcframework
	url = git@bitbucket.org:wegmannlab/mcmcframework.git
